body {
  width: 100%;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
}

button:focus {
  outline: none;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
